#root{
    height: 100vh;
    width: 100vw;
}
::selection{
    background-color: black;
    color: inherit;
}

::-moz-selection {
    background-color: black;
    color: white;
}

/* custom scroll bar */
body::-webkit-scrollbar {
  width: 6px;        
}

body::-webkit-scrollbar-track {
  background: #181818;      
}

body::-webkit-scrollbar-thumb {
  background-color: #202020;    
  border-radius: 20px;       
}
  