
/* custom scroll bar */
body::-webkit-scrollbar {
    width: 6px;
  }
  
  body::-webkit-scrollbar-track {
    background: #181818;      
  }
  
  body::-webkit-scrollbar-thumb {
    display: none;
    background-color: white;
    border-radius: 20px;
  }