/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/App.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.95);
    background-color: #181818;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* temporary */
  .tooltip, #chand{
    display: none !important;
  }

  /* font-family: 'DM Serif Display', serif; */
  
  h1,h2,h3,h4,h5,h6,p,span,.head,.tooltip{
    cursor: default;
  }
  .removeDesktop{
    display: none !important;
  }
  body{
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }
  .page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    scroll-snap-align: start;
  
  }
  .nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
  }
  #chand{
    margin-left: auto;
    padding: 1.5rem;
    transition: 300ms ease-in-out;
  }
  #chand:hover{
    transition: 300ms ease-in-out;
    filter: drop-shadow(0px 0px 10px #ddd);
  }
  .headProfile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 4rem;
  }
  #headContainer{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .maskContainer{
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  #imaryan{
    color: transparent !important;
    background-image: url(/_next/static/media/bgheadingsmall.bd37b0ca.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    font-family: 'Arizonia', cursive;
    font-size: 75px;
    line-height: 1.1;
    -webkit-text-stroke: .03rem transparent;
  }
  #imaryan::selection{
    background-color: rgba(0, 0, 0, 0.5);
    color: inherit;
  }
  
  #profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #profileContainer img{
    height: 190px;
    width: 190px;
    border-radius: 100%;
    box-shadow: 0 0 15px black;
  }
  .hr{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 1%;
  }
  .circle{
    background-color: white;
    height: 7.5px;
    width: 7.5px;
    border-radius: 10px;
  }
  h1{
    margin: 0;
    font-size: 3.2em;
    line-height: 1.1;
    color: white;
  }
  .contentBox{
    width: 45vw;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 21px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.40);
  }
  /* .contentBox{
    width: 45vw;
    height: fit-content;
    border-radius: 21px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.40);
  } */
  .content{
    padding: 1.1rem 1rem;
    margin:  0;
    color: #B7B7B7;
    text-align: center;
    font-family: Alegreya Sans SC;
    font-size: 28px;
    font-weight: 500;
    line-height: 125%;
    -webkit-text-stroke: .005rem #b7b7b7;
  }
  .head{
    color: #DDD;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 75px;
    font-weight: 400;
  }
  #headdotpurple{
    color: #7300AB;
  }
  #hrdotpurple{
    background-color: #7300AB;
  }
  #bold{
    -webkit-text-stroke: .004rem white;
  }
  #headdotlightblue{
    color: #61DAFB;
  }
  #hrdotlightblue{
    background-color: #61DAFB;
  }
  #headdotyellow{
    color: #FFD83A;
  }
  #skillscircle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
  .skillcircle img{
    height: 40px;
    width: 40px;
    /* margin: 1rem; */
    /* border-radius: 40px; */
  }
  .skillcircle{
    padding: .75rem;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    aspect-ratio: 1/1;
    position: relative;
  }
  .skillcircle img{
    height: 40px;
    width: 40px;
    /* margin: 1rem; */
    /* border-radius: 40px; */
  }
  .skillcircle{
    padding: .75rem;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 5px solid;
    aspect-ratio: 1/1;
    position: relative;
  }
  .tooltip{
    position: absolute;
    top: -125%;
    font-size: 10px;
    background-color: rgba( 0,0,0,90% );
    border-radius: 15px;
    padding: 1rem;
    width: 225%;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
    visibility: hidden;
    opacity: 0;
    transition: 250ms ease-in-out;
  }
  .tooltipcorner{
    position: absolute;
    bottom: -19%;
    z-index: 2;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(0,0,0,90%);
    filter: drop-shadow(0px 10px 10px rgba(255, 255, 255, 0.05));
    visibility: hidden;
    opacity: 0;
    transition: 250ms ease-in-out;
  }
  
  .skillcircle:hover .tooltip,
  .skillcircle:hover .tooltipcorner {
    visibility: visible;
    opacity: 1;
  }
  #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
  form button{
    border-radius: 7px;
    background: #FFD83A;
    width: 28vw;
    border: none;
    outline: none;
    padding: .5rem;
    cursor:pointer;
  }
  input,textarea{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: .5px solid white;
    text-indent: 10px;
    font-family: poppins;
    color: white;
    padding: .2rem 0;
    width: 28vw;
    letter-spacing: .7px;
  }
  textarea{
    border: .5px solid white;
    border-radius: 10px;
    padding-top: .25rem;
    resize:none;
  }
  .footer{
    width: 97%;
    margin: auto;
    padding-bottom: .25rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    font-family: poppins;
  }
  .socials{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    gap: 1rem;
  }
  .email{
    width: -moz-fit-content;
    width: fit-content;
  }
  a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: inherit;
  }
  
  
  
  /* desktop project */
  
  
  
  #projectBoxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .projectBox{
    width: 400px !important;
    height: 225px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    margin: 1.2rem 0;
  }
  .projectBox1{
    background: radial-gradient(196.42% 98.22% at 0% 18.01%, rgba(40, 22, 72, 0.75) 8.72%, rgba(115, 0, 171, 0.75) 85.7%);
    /* background: radial-gradient(196.41% 98.2% at 0% 14.71%, rgba(38, 45, 80, 1) 19.27%, rgba(54, 166, 246, 1) 96.88%); */
  }  
  .projectBox2{
    background: radial-gradient(193.2% 96.59% at 3.41% 16.91%, rgba(45, 32, 26, 1) 14.58%, rgba(95, 69, 60,1) 85.7%);
  }    
  .projectBox3{
    background: radial-gradient(200.03% 100% at 0% 18.01%, rgba(17, 45, 34, 1) 10.8%, rgba(49, 117, 87, 1) 85.54%);  
  }
  .projectBox1::before,.projectBox2::before,.projectBox3::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
  }
  .laptop{
    height: 170px;
    width: 190px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px 0px;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    background: #000;
    overflow: hidden;
  }
  .laptop img{
    width: 100%;
    height: 100%;
    border-radius: 6px 0px 0px 0px;
    position: absolute;
    top: 0;
    margin-top: .25rem;
    margin-left: .25rem;
  }
  .projectAbout{
    position: absolute;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    /* margin-top: 11.5px;*/
  }  
  .projectHeading{
    color: #DDD;
    font-family: DM Serif Display;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.54px;
  }
  .projectFeatures{
    color: #DDD;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
  }
  .checkoutbtn{
    margin: 1rem 0 0.75rem 0;
    display: flex;
    gap: .3rem;
  }
  .checkoutbtn button{
    width: 80px;
    height: 23px;
    flex-shrink: 0;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
  }
  .checkoutbtn button:hover .arrowimg{
    transition: 300ms ease-in-out;
    transform: translate(.75px, -.75px);
  }
  form button:hover .arrowimg{
    transition: 150ms ease-in-out;
    transform: translateX(2px);
  }
  .socials a:hover .arrowimg,
  .email a:hover .arrowimg{
    transition: 300ms ease-in-out;
    transform: translate(1.25px, -1.25px);
  }
  .checkoutbtn button p{
    cursor: pointer;
  }
  input:focus, textarea:focus{
    border-radius: 4px;
    transition: 300ms ease-in-out;
    background-color: #333;
  }
  textarea:focus{
    border-radius: 10px;
  }
  .github{
    cursor: pointer;
    width: 23px !important;
    height: 23px !important;
  }
  .github:hover .githubimg{
    transform: scale(1.075) !important;
    transition: 300ms !important;
  }
  .checkoutbtn button p{    
    color: #000;
    font-weight: 400;
    font-family: Poppins;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  /* .................................... Progress Bar .................................... */
    
  
  
  .anchors-wrap {
    padding: 0 .5rem;
    z-index: 10;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    height: 60vh;
  }
  .anchors{
    padding-left: 0;
  }
  
  .anchors:before {
    content: '';    
    display: block;
    z-index: -1;
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    width: .1rem;
    margin: 0 auto;
    background-color: #aaa;
  }
  
  .anchors{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .anchors a {
    position: relative;
    display: flex;
    height: 3rem;
    width: 3rem;
  }
  
  .anchors a:before,
  .anchors a:after {
    content: '';
    display: block;
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .anchors a:before {
    width: .8rem;
    height: .8rem;
    background-color: black;
  }
  
  .anchors a:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #aaa;
    transform: scale(0);
    transform-origin: center;
  }
  .anchors a:hover:before {
    background-color: white;
    box-shadow: 0 0 10px black;
  }
  .anchors a.active:after {
    transform: scale(1)
  }
  
  .colorBlock {
    margin-bottom: 2rem
  }
  
  .colorBlock-inner {
    min-height: 23rem;
    height: 100%;
    padding: 2.7rem 3rem
  }
  
  .colorBlock .title {
    margin-bottom: 2rem
  }
  
  #container1,#container2,#container3,#container4,#container5{
    transition:300ms ease-in-out;
    scroll-behavior: smooth;
    margin: 3rem;
  }
  
  ul{
    list-style-type: none;
  }
  
  /* #hitcontainer1:hover, #hitcontainer1.active { 
    background-color: black;
  }
  #hitcontainer2:hover, #hitcontainer2.active { 
    background-color: black;
  }
  #hitcontainer3:hover, #hitcontainer3.active { 
    background-color: black;
  }
  #hitcontainer4:hover, #hitcontainer4.active { 
    background-color: black;
  }
  #hitcontainer5:hover, #hitcontainer5.active { 
    background-color: black;
  } */
  
  /* #hitcontainer1::before, #hitcontainer2::before,#hitcontainer3::before,#hitcontainer4::before,#hitcontainer5::before{
    background-color: white !important;
  } */
  
  #hitcontainer1 a::before, #hitcontainer2 a::before,#hitcontainer3 a::before,#hitcontainer4 a::before,#hitcontainer5 a::before{
    background-color: white;
  }
  
  /* smooth scroll */
  /* #js-scroll{
    scroll-behavior: smooth;
    transition: 1000ms linear;
  } */
  
  
  
  
  
  
  
  
  
/*..................................Media Queries................................*/
   


  /* Small smartphones (iPhone 4, Galaxy S2, etc.) */
  @media only screen and (max-width : 475px){
    body{
      display: block;
    }
    .nav{
      height: 60px;
      position: static;
    }
    .page{
      display:unset;
      align-items: center;
      justify-content: center;
      height: unset;
    }
    .headProfile{
      flex-direction: column;
    }
    #profileContainer img{
      height: 150px;
      width: 150px;
      margin-bottom: 0.75rem;
    }
    #imaryan{
      font-size: 36px;
    }
    #profileContainer, #headContainer{
      width: 80%;
    }
    #removeMobile{
      display: none !important;
    }
    .removeDesktop{
      display:flex  !important;
    }
    .contentBox{
      width: 90%;
      border-radius: 21px;
      margin: 5px auto 60px;
    }
    .content{
      padding: 1.1rem 1rem;
      margin:  0;
      font-size: 22px;
      line-height: 125%;
      -webkit-text-stroke: .005rem #b7b7b7;
    }
    .head{
      font-size: 55px;
    }
    .projectBox{
      width: 275px !important;
      height: 150px !important;
      left: 0%;
      transform: translateX(0%);
      margin: 0;
    }
    .laptop{
      height: 110px;
      width: 130px;
    }
    .projectAbout{
      height: 80%;
      margin-top: 11.5px;
    }  
    .projectHeading{
      font-size: 24px;
    }
    .projectFeatures{
      font-size: 10px;
    }
    .checkoutbtn{
      margin: .5rem 0 0 0;
    }
    .checkoutbtn button{
      height: 17px;
      width: 62px;
      box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.30);
    }
    .checkoutbtn button p{
      font-size: 9px;
    }
    .github{
      height: 17px !important;
      width: 17px !important;
    }
    input,textarea{
      width: 70vw;
      font-family: poppins;
    }
    form button{
      width: 70vw;
    }
    .footer{
      width: 100vw;
      font-size: 11px;
      position: absolute;
      bottom: 0;
    }
    .socials{
      gap: .6rem;
    }
  
  
    /* fix after side progress bar */
    .pagecontainer{
      width: 100vw;
      overflow-x: hidden;
      position: relative;
    }
  
    #fixpadding{
      margin-bottom: -5.5rem;
      padding-bottom: 4.5rem;
    }
  
     
    /* bottom navigator */
    #navigator{
      width: 90vw;
      margin: auto;
      height: 55px;
      background-color: rgba(255,255,255,12.5%);
      position: -webkit-sticky;
      position: sticky;
      bottom: 20px;
      outline: 0.001rem solid rgba(255,255,255,75%);
      border-radius: 30px;
      -webkit-backdrop-filter: blur(3.5px);
              backdrop-filter: blur(3.5px);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      letter-spacing: .5px;
      font-weight: 200;
      font-size: 12px;
      transition: transform 500ms ease-in-out;
    }
    #navigator a{
      padding: 0.3rem 0.85rem;
      height: -moz-fit-content;
      height: fit-content;
      text-decoration: none;
      color: white;
    }
    .activeSection{
      padding: 0.3rem 0.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background: #202020;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5) inset;
      animation: anim 250ms ease-in-out;
    }
    @keyframes anim {
      from{
        transform: scale(.05);
      }to{
        transform: none;
      }
    }
  }
  
  
  
  
  
  
  
  
  
  /* Medium smartphones (iPhone 5, Galaxy S3, etc.) */
  @media only screen and (min-width : 640px){
      
  
  
  }
  
  
  /* Large smartphones and small tablets (iPad mini, Nexus 7, etc.) */
  @media only screen and (min-width : 768px){
      
  
  
  }
  
  
  /* Medium tablets (iPad 2, Galaxy Tab 10.1, etc.) */
  @media only screen and (min-width : 1024px){
      
  
  
  }
  
  
  /* Large tablets and small laptops (MacBook Air 11", etc.) */
  @media only screen and (min-width : 1200px){
      
  
  
  }
  
  
  /* Large laptops and desktops (iMac 27", MacBook Pro 15", etc.) */
  @media only screen and (min-width : 1536px){
  
      
  }
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/components/TextAnimation.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#TextAnimation_subhead__YVQ14 {
  cursor: default;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
  -webkit-text-stroke: white 0.01rem;
  color: #B7B7B7;
  letter-spacing: 1px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format('embedded-opentype'), url(/_next/static/media/slick.653a4cbb.woff) format('woff'), url(/_next/static/media/slick.6aa1ee46.ttf) format('truetype'), url(/_next/static/media/slick.f895cfdf.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

